---
interface Props {
  tags: string[];
}
const { tags } = Astro.props;
---

{tags.length > 0 && (
  <ul class="tag-list" role="list">
    {tags.map((tag) => <li><span class="tag">{tag}</span></li>)}
  </ul>
)}

<style>
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
